/*----------  navi menu  ----------*/
.list {
    position: relative;
    z-index: 10;
    background-color: #fff;
    min-width: 220px;
    display: grid;
    grid-auto-rows: minmax(60px, auto);
    grid-template-columns: 1fr auto;
    align-items: stretch;

    @include queries(large) {
        grid-template-columns: 1fr;
        grid-column: 1;
        grid-row: 1;
    }

    @include queries("mini") {
        min-width: 0;
        justify-content: start;
    }

    &__item {
        @include flex-align;
        grid-column: 1;
        border-bottom: 0.5px solid $gray;
        cursor: pointer;

        @include queries(large) {
            justify-content: center;
        }

        @include queries("mini") {
            justify-content: start;
        }

        &:hover  {
            color: #FFF;
            background-color: $secondary-font-color;
        }

        &:nth-last-of-type(2) {
            position: relative;
            z-index: 10;
            box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
        }

        &:nth-last-of-type(1) {
            border: 0;

            @include queries(small) {
                display: none;  
            }
        }

        &--icon:after {
            color: $secondary-font-color;
            position: absolute;
            right: 10px;
        }
    }

    &__contact {
        grid-column: 1;
        display: grid;
        align-self: center;
        height: 100%;
        width: 100%;
        color: white;
        background-color: $dark-gray;
        line-height: 1.2em;

        @media (max-width: 900px) and (min-width: 750px)  {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__info {
        align-self: center;
        display: grid;
        grid-template-columns: 40px 1fr;
        padding: 1em 0;

        @media (max-width: 900px) and (min-width: 750px) {
            grid-template-columns: auto;
            grid-template-rows: 40px 1fr;
            justify-content: center;
            justify-items: center;
            text-align: center;
        }

        @include queries(medium) {
            text-align: center;
            padding: 1em;   
        }

    }

    &__data {
        margin: 0 15px;
        font-size: $medium-font-size;
    }
}

