/*----------  navi sign and newsletter  ----------*/
.sign, .newsletter {
    @include grid-align($vertical:start, $horizontal:center);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    text-align: center;
    padding: 1em 1em;

    &__header {
        font-size: $big-font-size;
        align-self: center;
    }

    &__content {
        font-size: $normal-font-size;
        font-weight: 300;
        margin: 1em 0;
        
    }
}
.sign {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__icon{
        &--facebook {
            color: $facebook;
        }

        &--twitter {
            color: $twitter;
        }

        &--google {
            color: $google;
        }

        &--linked {
            color: $linked;
        }
    }
}

.newsletter {
    &__form {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 1em;
        justify-self: stretch;
        justify-items: center;

        @include queries(mini) {
            grid-template-columns: auto;
        }
    }

    &__email {
        border: 0.5px solid $gray;
        font-size: 1.1em;
        padding: 8px 15px;
        color: $gray;

        @include queries(mini) {
            // grid-template-columns: auto;
            // grid-template-rows: auto auto;
        }

        &:focus {
            border-color: $light-blue;
        }

        &::placeholder {
            color: $gray;
        }
    }
}