
/*----------  navi section Blog submenu  ----------*/

.blog {
    position: relative;
    top: 0;
    grid-column: 2;
    display: grid;
    align-items: stretch;
    overflow: hidden;
    width: 0px;
    transition: width 1s linear;

    @include queries(large) {
        grid-column: 1;
        grid-row: 1;
    }

    &--show {
        width: 100%;
        min-width: 220px;
        transition: all 1s linear;

        @include queries(large) {
            grid-column: 2;
            grid-row: 1;
        }

        @include queries("mini") {
            min-width: 0;
        }
    }

    &__section {
        display: grid;
        background-color: $dark-blue;
        transition: background-color 0.5s linear;
        padding: 1.5em;
        border-bottom: 0.5px solid $background-color;

        &:hover {
            background-color: $second-dark-blue;
            transition: background-color 0.5s linear;
        }
    }

    &__list {
        display: grid;
        align-items: stretch;
    }

    &__item {
        display: grid;
        align-items: center;
    }

    &__link {
        display: grid;
        grid-template-columns: auto auto;
        text-decoration: none;
        color: #FFF;
        font-weight: 300;
        font-size: $medium-font-size;

        &:hover {
            color: $secondary-font-color;
        }

        &--header {
            font-size: $normal-font-size;
            color: $secondary-font-color;
            font-weight: 500;

            &:hover.blog__link--icon:after {
                color: $secondary-font-color;
                transform: translateX(10px);
                transition: transform 0.3s linear;
            }
        }

        &--icon:after {
            font-size: 1.1em;
            font-weight: 100;
            justify-self: end;
            transform: translateX(0px);
            transition: transform 0.3s linear;
        }
    }
}