/*----------  new tile  ----------*/

.new {
    background-color: #FFF;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "big-image big-image" 
                         "small-img article";
    position: relative;
    overflow: hidden;

    &:after {
        content: "NEW";
        display: flex;
        width: 150px;
        height: 150px;
        color: #FFF;
        align-items: flex-end;
        justify-content: center;
        background-color: $red;
        position: absolute;
        z-index: 100;
        transform: rotate(-45deg);
        top: -85px;
        left: -85px;
        padding-bottom: 10px;
    }
    
    &__image {
        grid-area: big-image;
        width: 100%;
    }

    &__article {
        grid-area: article;
        margin: 1.2em 2em;

        @include queries(mini) {
            margin: 1em 1em;
        }
    }

    &__header {
        @include article-header;
    }

    &__content {
        @include article-content;
    }

    &__action {
        display: flex;
        margin-top: 8%;
        margin-right: 20%;
        justify-content: space-between;

        @include queries(large) {
           margin-right: 40px;
        }

        @include queries(mini) {
            display: none;
        }
    }

    &__link {
        text-decoration: none;
        color: $main-font-color;
        font-size: $medium-font-size;

        &:hover {
            color: $secondary-font-color;
        }

        &:before {
            margin-right: 1em;
            color: $secondary-font-color;
        }
    }
}