/*----------  calendar tile  ----------*/
.others {
    &__calendar {
        @include grid-align($vertical:center, $horizontal:center);
        background-color: $dark-blue;
        color: white;

        @include queries(medium) {
            height: 300px;
         }
    }
}