
/*=============================================
=                   BUTTONS                   =
=============================================*/

/*----------  header button  ----------*/
.header {
    &__button {
        @include button-properties(#fff, $big-font-size);
        width: 60px;
        height: 60px;
        background-color: $secondary-font-color;
        position: relative;
        z-index: 300;
    }
}
/*----------  submit buttons  ----------*/
.submit-button {
    @include button-properties(#FFF, $normal-font-size);
    width: 100px;
    border-radius: 5px;
    background-color: $red;
    padding: 0.6em 1.2em;

    &:hover {
        background-color: lighten($red, 5%);
    }
}

/*----------  sliders arrows  ----------*/
.slider {
    &__button {
        @include button-properties($main-font-color, 2em);
        display: flex;
        justify-content: center;
        width: 34px;
        height: 52px;
        position: relative;

        &:hover {
            background-color: $dark-gray;
            color: #FFF; 
        }

        &--left {
            @include arrow-direction(left);
        }

        &--right {
            @include arrow-direction(right);
        }
    }
}

/*----------  sliders dots  ----------*/
.dot {
    @include button-properties;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 0.5px solid #FFF;
    border-radius: 50%;
    position: relative;
    
    &:hover {
        background-color: #FFF;
    }

    &--actual {
        background-color: #FFF;
    }

    &--dark {
        border-color: $dark-gray;

        &:hover {
            background-color: $dark-gray;
        }
        
        &--actual {
            background-color: $dark-gray;
        }
    }
}

/*----------  button "Read more"  ----------*/
.button-more {
    display: inline;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    color: red;
    font-size: $normal-font-size;
    cursor: pointer;
}

/*============  End of BUTTONS  =============*/

