/*----------  BODY STYLE  ----------*/
body {
    max-width: 928px;
    background-color: $background-color;
    font-family: $font-style;
    color: $main-font-color;
    padding-top: 15px;
    margin: 1.5em auto;
    font-size: 16px;
    overflow: hidden;
}
