/*----------  FONTELLO  ----------*/
@font-face {
  font-family: 'fontello';
  src: url('../fontello/fontello.eot?2350227');
  src: url('../fontello/fontello.eot?2350227#iefix') format('embedded-opentype'),
       url('../fontello/fontello.woff2?2350227') format('woff2'),
       url('../fontello/fontello.woff?2350227') format('woff'),
       url('../fontello/fontello.ttf?2350227') format('truetype'),
       url('../fontello/fontello.svg?2350227#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before,
 [class$="icon"]:before, 
 [class*=" icon-"]:before, 
 [class*="icon"]:before,
 [class*="img"]:before,
 [class*="button"]:before,
 [class*="social"]:before,
 [class*="icon"]:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
 
.icon-right-circle:before { content: '\e804'; } /* '' */

.icon-eye:before { content: '\e811'; } /* '' */
.icon-comment:before { content: '\e812'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */

//////////////////////////////////////////////////////////////////////////////////////////////
.check-icon--unchecked:before { content: '\e802'; } // uncheck-icon
.check-icon--checked:before { content: '\e803'; } // checked-icon
.header__link-social--twitter:before { content: '\f309'; } // twitter
.header__link-social--facebook:before { content: '\f30c'; } // facebook
.header__link-social--gplus:before { content: '\f30f'; } // google


.new__link--share-icon:before { content: '\e810';} // share (others section)
.new__link--views-icon:before { content: '\e811';} // view
.new__link--comment-icon:before { content: '\e812';} // comment

//////////////////////////////////////////////////////////////////////////////////////////////
.header__button:before { content: '\e801'; }

.article-icon--camera:before { content: '\e80f'; } // camera
.article-icon--video:before { content: '\e80e'; } // video-camera
.article-icon--note:before { content: '\f0f6'; } // note
.article-icon--quote:before { content: '\f10e'; } //quote

.action__icon--share:before { content: '\e810'; } //share icon (activ section)
.action__icon--later:before { content: '\e813'; } //clock icon (activ section)
.action__icon--love:before { content: '\e814'; } // full heart icon (activ section)
.action__icon--like:before { content: '\e815'; } // empty heart icon (activ section)

.slider__button--left:before { content: '\e816'; } // left arrow slider
.slider__button--right:before { content: '\e817'; } // right arrow slider

.social-icon--twitter:before { content: '\f30a'; } // twitter-circled
.social-icon--facebook:before { content: '\f30d'; } // facebook-circled
.social-icon--google:before { content: '\f310'; } // google-circled
.social-icon--linked:before { content: '\f319'; } // linked-circled
.social-icon--pintrest:before { content: '\f313'; } // pintrest-circled

.navi__large-icon--twitter:before { content: '\f309'; } //large-twitter-ico
.navi__large-icon--facebook:before { content: '\f30c'; } //large-facebook-ico

.list__icons--home:before { content: '\e809'; } //home-icon
.list__icons--basket:before { content: '\e80a'; } //basket-icon
.list__icons--edit:before { content: '\e80b'; } // edit-icon
.list__icons--group:before { content: '\e80c'; } // group-icon
.list__icons--award:before { content: '\e80d'; } //goblet-icon
.list__icons--info-circled:before { content: '\e808'; } //info-icon
.list__icons--mail-alt:before { content: '\f0e0'; } //mail-icon

.list__icons--phone:before { content: '\e806'; } //phone-icon
.list__icons--location:before { content: '\e807'; } //location-icon

.social__link--search:before { content: '\e800'; } // search
.social__link--twitter:before { content: '\f309'; } /* '' */
.social__link--facebook:before { content: '\f30c'; } /* '' */
.social__link--gplus:before { content: '\f30f'; } /* '' */
.social__link--user:before { content: '\f061'; } /* '' */

.view__icon:before { content: '\e804'; }

.blog__link--icon:after { content: '\e804'; }
.list__item--icon:after { content: '\e817'; }

.loader__icon:before { content: '\e839'; }