/*----------  sliders content  ----------*/
.slider {
    color: #FFF;

    &__content {
        opacity: 1;
        transition: opacity 0.7s ease-out;

        &--hidden {
            opacity: 0;
            transition: opacity 0.7s ease-out;
        }

        &--slide1 {
            background: url("../img/time-square-large.jpg") no-repeat;
            background-size: cover;
        }

        &--slide2 {
            background: url("../img/statue-large.jpg") no-repeat;
            background-size: cover;
        }

        &--slide3 {
            background: url("../img/new-york-large.jpg") no-repeat;
            background-size: cover;
        }

        &--slide4 {
            background: url("../img/monument-valley.jpg") no-repeat;
            background-size: cover;
        }
    }

    &__header {
        font-size: 43px;
        font-weight: 300;
    }

    &__text {
        font-size: $medium-font-size;
        font-weight: 300;
        line-height: 1.5em;
        margin: 1.85em 0;
    }

    &__more {
        @include button-properties($color: #FFF, $fontsize: 16px);
        font-weight: 600;
        border: 1px solid #FFF;
        border-radius: 4px;
        background-color: transparent;
        padding: 1em 2em;
    }
}