/*----------  OTHERS SECTION  ----------*/
.others {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 3fr 67px 67px 2fr;
    grid-template-areas: 
        "twitter calendar view"
        "twitter new new"
        "info new new"
        "info quote quote"
        "contact quote quote"
        "contact about about";
    grid-gap: 1em;

    @include queries(large) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
            "calendar view"
            "twitter info"
            "new new"
            "quote quote"
            "about about"
            "contact contact ";
    }

    @include queries(small) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        grid-template-areas: 
            "calendar" 
            "view"
            "twitter" 
            "info"
            "new"
            "quote"
            "about"
            "contact";
    }

    &__twitter {
        grid-area: twitter;
    }

    &__info {
        grid-area: info;
    }

    &__contact {
        grid-area: contact;
    }

    &__calendar {
        grid-area: calendar;
    }

    &__view {
        grid-area: view;
    }

    &__new {
        grid-area: new;
    }

    &__quote {
        grid-area: quote;
    }

    &__about {
        grid-area: about;
    }
}