/*----------  header icons  ----------*/
.social {
    @include grid-align($vertical:stretch, $horizontal:stretch);
    grid-template-columns: 3fr 7fr 3fr;
    justify-self: stretch;
    
    &__icon {
        display: grid;
    }

    &__list {
        @include grid-align($vertical:stretch, $horizontal:stretch);
        grid-template-columns: repeat(3, 1fr);
        border-left: 0.5px solid $third-font-color;
        border-right: 0.5px solid $third-font-color;
    }

    &__link--search {
        position: relative;

        &:before {
            position: relative;
            z-index: 200;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: #FFF; 
        }
    }

    &__input {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        transform: translateY(0%);
        width: 0;
        height: 0;
        box-sizing: border-box;
        z-index: 100;
        border: 5px solid $light-blue;
        background-color: #FFF;
        transition: width 0.2s linear, 
                    transform 0.3s linear 0.2s; 

        &:focus {
            width: 250px;
            border-radius: 0 20px 20px 20px;
            font-size: 1.3em;
            padding: 1em;
            height: 100%;
            width: 200px;
            transform: translateY(100%);
            transition: transform 0.3s linear, 
                        width 0.2s linear 0.3s; 
        }
    }
}
