/*----------  HEADER SECTION  ----------*/
.header {
    background-color: white;
    display: grid;
    grid-template-columns: 60px 2fr 1fr;
    grid-template-rows: 60px;
    align-items: stretch;
    justify-items: start;
    margin-bottom: 1em;

    @include queries(large) {
        grid-template-columns: 60px 1fr;
    }


    &__button {
        grid-column: 1;
    }

    &__menu {
        grid-column: 2;
    }

    &__social {
        grid-column: 3;

        @include queries(large) {   
         grid-column: 2;    
        }
    }
}