/*----------  SLIDER SECTION  ----------*/

.slider {
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    grid-template-rows: 2fr 1fr;
    background-color: $dark-blue;
    margin: 1em 0;
    max-width: 928px;
    height: 453px;

    &__box {
        grid-column: 1 / 4;
        grid-row: 2;
        align-self: end;
        justify-self: center;
        margin-bottom: 1em;
    }

    &__arrow-left {
        grid-column: 1;
        grid-row: 1 / 3;
        align-self: center;
        justify-self: start;
    }

    &__arrow-right {
        grid-column: 3;
        grid-row: 1 / 3;
        align-self: center;
        justify-self: end;
    }

    &__content {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        align-self: stretch;
        justify-self: start;
        align-content: start;
    
    /* ======= grid in slider__content ======= */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4em;
        justify-items: start;
        align-items: start;
        padding: 2.2em 4em;
    }

    &__header {
        grid-column: 1;
    }

    &__text {
        grid-column: 1;
    }

    &__more {
        grid-column: 1;
    /* ====== END OF grid in slider__content ======= */
    }
    
}
