.activ {
    &__story {
        display: grid;
        grid-template-columns: 40px 3fr 1fr 5fr;
    }

    &__instagram {
        display: grid;
        grid-template-columns: 40px 1fr 1fr 40px;
    }

    &__img {
        height: 40px;
        width: 40px;
        background-color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
        color: #FFF;
        margin-top: 2em;

        &--red {
            background-color: $red; 
        }

        &--blue {
            background-color: $light-blue; 
        }
    }

    /* activ article styles */
    &__article {
        margin: 2.7em 1.1em;
    }

    &__header {
        font-size: 24px;
        font-weight: 500;
        color: $main-font-color;
        line-height: 1.2em;
        margin-bottom: 0.3em;
    }

    &__timer {
        font-size: 14px;
    }

    &__content {
        font-size: 15px;
        margin-top: 1.5em;
        line-height: 1.6em;
    }

    /* aciv icons */
    &__interaction {
        background-color: $dark-blue;
        display: grid;
        justify-content: center;
    }

    &__desc {
        font-size: 0.5em;
        font-weight: 300;
        display: block;
        text-align: center;
        margin-top: 0.5em;
        color: #FFF;
    }

    &__icon {
        font-size: 1.8em;
        align-self: center;
        text-decoration: none;
        color: #FFF;

        &--love {
            margin-left: 1em;
            color: $red;
        }

        &:hover {
            color: $red;
        }

    }

    /* aciv video */
    &__video {
        width: 100%;
        height: 100%;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* aciv image */
    &__photo {
        width: 100%;
        height: 100%;
        grid-column: 3 / 5;
    }
}