.navi {
    &__social {
        display: grid;
        grid-template-rows: repeat(5, 60px);
        align-items: stretch;
    }

    &__socialItem {
        display: grid;
        align-items: stretch;
    }

    &__socialIcons {
        margin: 0 25px;
        color: $gray;
        font-size: 2em;
    }

    &__link {
        text-decoration: none;
        margin-top: 1em;
        display: flex;
        align-items: center;
        font-size: 1.25em;
        font-weight: 300;
        color: $main-font-color;
        cursor: pointer;
        
        &--facebook:hover, &--facebook:hover > .navi__socialIcons {
            color: $facebook;
        }

        &--twitter:hover, &--twitter:hover > .navi__socialIcons {
            color: $twitter;
        }

        &--google:hover, &--google:hover > .navi__socialIcons {
            color: $google;
        }

        &--linked:hover, &--linked:hover > .navi__socialIcons {
            color: $linked;
        }

        &--pinterest:hover, &--pinterest:hover > .navi__socialIcons {
            color: $pinterest;
        }
    }
}