.slider {
    color: #FFF;

    &__content {
        display: grid;
        opacity: 1;
        transition: opacity 0.8s ease-out;

        &--hidden {
            display: none;
            opacity: 0;
            transition: opacity 0.8s ease-out;
        }

        &--slide1 {
            background: url("../img/time-square-large.jpg") no-repeat;
            background-size: cover;
        }
    }

    &__header {
        font-size: 43px;
        font-weight: 300;
    }

    &__text {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.5em;
        margin: 1.85em 0;
    }

    &__more {
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #FFF;
        border-radius: 4px;
        background-color: transparent;
        padding: 1em 2em;
        color: #FFF;
        outline: none;
        cursor: pointer;
    }

    &__button {
        width: 34px;
        height: 52px;
        outline: none;
        border: 0;
        font-size: 2em;
        cursor: pointer;

        &--left-icon {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            display: flex;
            justify-content: center;
            color: $main-font-color;

        }

        &--right-icon {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            display: flex;
            justify-content: center;
            color: $main-font-color;
        }
    }

    &__dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 0.5px solid #FFF;
        border-radius: 50%;
        cursor: pointer;

        &--actual {
            background-color: #FFF;
        }
    }
}