body {
    max-width: 928px;
    background-color: $background-color;
    font-family: $font-style;
    color: $main-font-color;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    font-size: 16px;
}