@font-face {
  font-family: 'fontello';
  src: url('../img/fontello/font/fontello.eot?2350227');
  src: url('../img/fontello/font/fontello.eot?2350227#iefix') format('embedded-opentype'),
       url('../img/fontello/font/fontello.woff2?2350227') format('woff2'),
       url('../img/fontello/font/fontello.woff?2350227') format('woff'),
       url('../img/fontello/font/fontello.ttf?2350227') format('truetype'),
       url('../img/fontello/font/fontello.svg?2350227#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before,
 [class$="icon"]:before, 
 [class*=" icon-"]:before, 
 [class*="icon"]:before,
 [class*="img"]:before,
 [class*="social"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-cancel-circled2:before { content: '\e802'; } /* '' */
.icon-ok-circled-1:before { content: '\e803'; } /* '' */
.icon-right-circle:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-basket:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-group:before { content: '\e80c'; } /* '' */
.icon-award:before { content: '\e80d'; } /* '' */
.icon-videocam:before { content: '\e80e'; } /* '' */
.icon-camera:before { content: '\e80f'; } /* '' */
.icon-export:before { content: '\e810'; } /* '' */
.icon-eye:before { content: '\e811'; } /* '' */
.icon-comment:before { content: '\e812'; } /* '' */
.icon-clock:before { content: '\e813'; } /* '' */
.icon-heart:before { content: '\e814'; } /* '' */
.icon-heart-empty:before { content: '\e815'; } /* '' */
.icon-left-open:before { content: '\e816'; } /* '' */
.icon-right-open:before { content: '\e817'; } /* '' */
.icon-play-circled:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */

.header__icon--search:before { content: '\e800'; }
.navi__sign-icon--twitter:before { content: '\f30a'; }
.navi__sign-icon--facebook:before { content: '\f30d'; }
.navi__sign-icon--google:before { content: '\f310'; }
.navi__sign-icon--linked:before { content: '\f319'; }
.navi__check-icon--unchecked:before { content: '\e802'; }
.navi__check-icon--checked:before { content: '\e803'; }
.header__link-social--twitter:before { content: '\f309'; }
.header__link-social--facebook:before { content: '\f30c'; }
.header__link-social--gplus:before { content: '\f30f'; }
.slider__button--left-icon:before { content: '\e816'; }
.slider__button--right-icon:before { content: '\e817'; }
.activ__img--blue:before { content: '\e80f'; }
.activ__img--red:before { content: '\e80e'; }
.activ__icon--share:before { content: '\e810'; }
.activ__icon--later:before { content: '\e813'; }
.activ__icon--love:before { content: '\e814'; }
.activ__icon--like:before { content: '\e815'; }
