.about {
    background-color: #FFF;
    display: grid;
    grid-template-rows: 45px 1fr;
    align-items: stretch;
    justify-content: stretch;

    &__menu {
        display: grid;
        grid-auto-flow: column;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray;
        border-right: 1px solid $main-font-color;
        color: #FFF;
        cursor: pointer;

        @include queries(mini) {
            font-size: $small-font-size;
        }

        &:last-of-type {
            border: none;
        }

        &:hover, &--active {
            background-color: #FFF;
            color: $main-font-color;
        }
    }

    &__content {
        padding: 2em;
    }

    &__articles {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
       
        @include queries(mini) {
            flex-direction: column;
        }

        &--hidden {
            display: none;
        }
    }
    /////////////////////////////////
    &__interview {
        width: 46%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include queries(mini) {
            width: 100%;
            margin-top: 1em;
            padding-bottom: 1em; 

            &:first-child {
                border-bottom: 1px solid $gray;
            }
        }
    }

    &__person {
        display: flex;
    }

    &__photo {
        height: 55px;
        width: 55px;
    }

    &__name {
        display: grid;
        justify-content: space-around;
        margin-left: 1em;
        font-size: 1.15em;
        font-weight: 500;
    }

    &__workplace {
        display: grid;
        font-size: $small-font-size;
        font-weight: 300; 
        color: $third-font-color;
    }

    &__text {
        @include article-content;
        margin-top: 0;
        text-align: left;

        @include queries(large) {
            margin: 1em 0;
        }
    }

    &__email {
        text-decoration: none;
        color: $secondary-font-color;
        font-size: $medium-font-size;
    }

    &__contact {
        display: grid;
        justify-content: center;
        grid-gap: 1em;
    }

    &__info {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1em;
        justify-content: start;
    }

    &__dummy {
        padding: 0 10%;
        line-height: 1.2em;
        word-spacing: 0.3em; 
    }
}
