@mixin article-header { // main style for HEADER in article
    font-size: 24px;
    font-weight: 500;
    color: $main-font-color;
    line-height: 1.2em;
    margin-bottom: 0.3em;
}

@mixin article-content { // main style for CONTENT in article
    font-size: 15px;
    margin-top: 1.3em;
    line-height: 1.6em;
}

@mixin button-properties($color: false, $fontsize: false) { // button main properties
    border: none;
    outline: none;
    cursor: pointer;

    @if $color {
        color: $color;
    }
    @if $fontsize {
        font-size: $fontsize;
    }
}

@mixin arrow-direction($side) { // button-arrow slider
    @if $side == "right" {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    @if $side == "left" {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

@mixin grid-align($vertical, $horizontal) { // align grid items
    display: grid;
    align-items: $vertical;
    justify-content: $horizontal;
}

@mixin flex-align($vertical: center, $horizontal: false) { // align flex items
    display: flex;
    align-items: $vertical;
    
    @if $horizontal {
        justify-content: $horizontal;
    }
}