//----- LAYOUT COLORS ------//
$background-color: #465c7a;

$light-blue: #56ccc8;
$dark-blue: #152840;
$second-dark-blue: #263a54;
$gray: #c5cdd1;
$dark-gray: #b2b9bd;
$red: #ea6060;


// -------- FONTS COLORS -------- //
$main-font-color: #475055;
$secondary-font-color: #56ccc8;
$third-font-color: #b2b9bd;

//-------- SOCIAL COLORS -------//
$facebook: #4d6baa;
$twitter: #4fc6f8;
$linked: #238cc8;
$google: #ea6060;
$pinterest: #bd081c;

// -------- FONT STYLE ---------//
$font-style: 'Roboto', sans-serif;


// ---------- FONT SIZES --------- //
$big-font-size: 1.5em; // 24px
$normal-font-size: 1em; // 16px
$medium-font-size: 0.9375em; // 15px
$small-font-size: 0.875em; // 14px


  

